.root{
    width:100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.671);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    .Eng , .Rus{
        padding: 10px 15px;
        margin: 1rem;
        border-radius: 3px;
        border: .2px solid rgb(51, 192, 51);
        width: 200px;
        outline: none;
    }
    .addBtn{
        padding: 10px 15px;
        background-color: rgb(51, 192, 51);
        color: white;
        cursor: pointer;
        border-radius: 4px;
        border: .4px solid rgb(255, 255, 255);
        &:hover{
            background-color: rgb(9, 218, 26);
        }
        &:disabled{
            background-color: green;
            color: grey;
            border: none;
            cursor: no-drop;
        }
    }
}
